# Telegram Bot Token
TELEGRAM_TOKEN=your_telegram_token_here

# PostgreSQL Database URL
DATABASE_URL=postgresql://user:password@host:port/dbname

# Admin Telegram ID
ADMIN_ID=your_admin_id_here

# Redis Configuration
REDIS_HOST=your_redis_host_here
REDIS_PORT=18244
REDIS_PASSWORD=your_redis_password_here

# Trading Defaults
DEFAULT_CAPITAL=10.0
TRADE_FEE=0.001
