python-telegram-bot
SQLAlchemy
asyncpg
websockets
pandas
ta
scipy
xgboost
yfinance
greenlet
flask
scikit-learn
requests
ccxt
redis
aiohttp # تمت إزالة textblob لعدم الحاجة لها بعد تعطيل تحليل الأخبار
