python-telegram-bot[webhooks]>=20.0
SQLAlchemy
asyncpg
websockets
pandas
ta
scipy
xgboost
yfinance
greenlet
flask
scikit-learn
requests
ccxt
aiohttp
httpx
numpy
python-dateutil
pytz
rich
beautifulsoup4
cryptography
jinja2
markupsafe
itsdangerous
werkzeug
click
cffi
pycparser
six
idna
certifi
charset-normalizer
urllib3
multidict
yarl
aiosignal
async-timeout
frozenlist
propcache
aiohappyeyeballs
aiodns
pycares
exceptiongroup
anyio
h11
httpcore
typing-extensions
sniffio
attrs
markdown-it-py
mdurl
pygments
joblib
threadpoolctl
platformdirs
multitasking
coincurve
nvidia-nccl-cu12
protobuf
tzdata
ta
psycopg2-binary
